<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%=title %></title>
    <title>Document</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<%- include('partials/navigation') %>
<body>
    <header>
        <h1>Bienvenido a Nuestro Cine</h1>
        <nav>
            <ul>
                <li><a href="#cartelera">Cartelera</a></li>
                <li><a href="#proximamente">Próximamente</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <div class="container mt-4">
        <div id="mostrarPeliculas" class="row"></div>
    </div>
    <script>
        async function getPeliculas() {
            try {
                const response = await fetch('https://nodejs-tn40.onrender.com/api/get-peliculas', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                const peliculas = await response.json();
                const mostrarPeliculasDiv = document.getElementById('mostrarPeliculas');
                peliculas.forEach(pelicula => {
                    const peliculaDiv = document.createElement('div');
                    peliculaDiv.classList.add('col-md-4', 'mb-4');
                    peliculaDiv.innerHTML = `
                         <div class="card" style="width: 18rem;">
                        <img src="${pelicula.url}" class="card-img-top" alt="${pelicula.titulo}">
                        <div class="card-body">
                            <h5 class="card-title">${pelicula.titulo}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    `;
                    mostrarPeliculasDiv.appendChild(peliculaDiv);
                });
            } catch (error) {
                console.error('Error al obtener las peliculas', error);
            }
        }

        getPeliculas();
    </script>
</body>
</html>